<div class="container" ng-controller="scriptCtrl">
     <head>
  </head>

    <h3>{{title1}}</h3>
<form>
  <input type="radio" ng-model="selectedValue" value="Glasses"> Glasses<br/>
  <input type="radio" ng-model="selectedValue" value="Contacts"> Contacts<br/>
  <input type="radio" ng-model="selectedValue" value="Both"> Both<br/>
  <tt>selectedValue = {{selectedValue | json}}</tt><br/>
</form>
</div>