
<div class="rx-form" ng-controller="glassesCtrl">
	<form>
		<div class="form-group" type="form-inline">
			<h4>{{title2}}</h4>
	    
	    		<select class="selectpicker" data-style="btn-info" ng-model="formData.text" ng-options="value for value in sph"></select>
	
	    	<h4>{{title3}}</h4>
	    
	    		<select class="selectpicker" data-style="btn-info" ng-model="formData.text" ng-options="value for value in syl"></select>
	
	    	<h4>{{title4}}</h4>
	    
	    		<select class="selectpicker" data-style="btn-info" ng-model="formData.text" ng-options="value for value in axs"></select>
		</div>
	</form>
	    		<a class="btn btn-success" href="/dashboard" ng-click="addScript()">Add</a>
</div>