<div class="container">
    <div class="row">
    <div class="col-sm-3 dashboard-navigation">
        <h4>Login to</h4>
        <ul class="nav nav-pills nav-stacked">
            <li>Sign up for our services</li>
            <li>Manage your prescription</li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action='' method="POST">
              <fieldset>
                <div id="legend">
                  <legend class="">Login</legend>
                </div>
                <div class="control-group">
                  <!-- Username -->
                  <label class="control-label"  for="username">Username</label>
                  <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                  </div>
                </div>
                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                  </div>
                </div>
                <div class="control-group">
                  <!-- Button -->
                  <div class="controls">
                    <a class="btn btn-success" type="button" href="/dashboard">Login</a>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>

    </div>
    </div>
</div>