<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Opternative</a>
    </div>
    <ul class="nav navbar-nav pull-right">
    	<li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>